body{
    margin: 0px;
    background: linear-gradient(to top, rgba(30,30,30), rgba(146,146,146));
}
header{
    width: 100%;
    background-color: black;
    height: 80px;
}
div{
    justify-content: center;
    margin-left: 40%;
    position: absolute;
    top: 1%;
}
a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    justify-content: center;
    margin-left: 95%;
    position: absolute;
    top: 0.1%;
}
h1{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h3{
    margin-left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#ironimg{
    width: 80px;
    margin: 10px;
}
#capimg{
    width: 80px;
    margin: 10px;
}
#thanosimg{
    width: 80px;
    margin: 10px;
}
h6{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#cap1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
#logo{
    width: 100px;
    margin: 10px;
}
main{
    margin: 200px;
    background-color: blueviolet;
    width: 250px;
}
button{
    margin-left: 37%;
}
#iron{
    background-color: blueviolet;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 15px;
}
.cap{
    background-color: blueviolet;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 15px;
}
.thanos{
    background-color: blueviolet;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 15px;
}
div{
    display: flex;
}